<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">הוספת מדיה חדשה</h4>
            </div>
            <div class="container">
                <form role="form" dir="rtl">
                    <div>
                        <label><input type="radio" name="optradio">
                            סרט
                        </label>
                    </div>
                    <div>
                        <label><input type="radio" name="optradio">
                            סדרה
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>