<div>
    <span>
        <h3><center><b>הכירו- חיפוש מתקדם</b></center></h3>
        <u>החיפוש בא לעשות לכם את החיים קלים יותר, ופשוטים יותר - נצלו אותו</u>
        <br />
        <h4><b>אופרטור &#35;</b></h4>
        <br />
        אז מה זה ואיך משתמשים בזה?
        <br />
        השימוש כל כך פשוט כמו שלא חשבתם מעולם<br />
        <br />
        &#35;סרט קטגוריה שנה
        <br />
        &#35;סדרה קטגוריה שנה
        <br />
        <br />
        <br />
        זוהי תבנית החיפוש שלכם מעכשיו כאשר אתם רוצים לחפש סרט אבל רק סרטי מתח ולא סתם סרטי מתח אלא רק סרטים שיצאו בשנת 2010<br />
        עליכם לרשום את השורה הבא בחיפוש:<br />
        &#35;סרט מתח 2010
        <br />
        כל כל פשוט ונוח, אתם מוזמנים לשחק עם זה ככול יכולכם לדוגמא:<br />
        &#35;סדרה קומדיה <br />
        כאן תקבלו את כל הסדרות באתר שהם קומדיות
        <br /><br/>
        חשבתם שזה נגמר.. אז לא יש עוד!<br />
        <br />
        &#35;קטגוריה שם-קטגוריה: על מנת לקבל את כל הסרטים/הסדרות באותה קטגוריה.
        <br />
        &#35;תגובות שם-משתמש: על מנת לקבל את כל הסרטים/הסדרות שאותו משתמש הגיב בהם.
        <br />
        &#35;במאי שם-הבמאי: על מנת לקבל את כל הסרטים/הסדרות של הבמאי הנ"ל.
        <br />
        <br />
        רוצים לראות את הסדרות האחרונות שהתווספו לאתר?<br />
        רשמו:<br />
        &#35;סדרה<br />
        או<br />
        &#35;סרט
    </span>
</div>