<div>
    <div class="site-content" ng-init="init()">
        <div class="row media-details-row">
            <div class="col-md-6 image-column">
                <canvas id="mediaPic" width="400" height="494"></canvas>
            </div>
            <div class="col-md-6 media-content">
                <header>
                    <h1>{{media.hebrewTitle}}</h1>
                    <h4>{{media.englishTitle}}</h4>
                </header>
                <div id="imdbRating" dir="ltr"></div>
                <div class="row">
                    <b> אורך:</b>{{media.length}} דקות
                </div>
                <div class="row">
                    <b> במאים:</b>{{media.directors}}
                </div>
                <div class="row">
                    <b>מפיקים:</b>{{media.producers}}
                </div>
                <div class="row">
                    <b> שחקנים:</b>{{media.actors}}
                </div>
                <div class="row">
                    <b> שנת יציאה:</b>{{media.releaseDate.toLocaleDateString()}}
                </div>
                <div class="row">
                    <b> קטגוריה:</b> <span ng-repeat="category in media.categories">{{category}}{{$last ? '' : ', '}}</span>
                </div>
                <div class="row">
                    <b> תקציר:</b>{{media.summery}}
                </div>
            </div>

        </div>
        <div class="row comments-content">
            <div class="col-md-6">
                <section>
                    <h3>
                        הוסף תגובה:
                    </h3>
                    <div class="form-horizontal" style="padding-right: 15px;">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="text" ng-model="comment.title" style="width:100%"  ng-disabled="!user">
                                </div>
                                <div class="col-md-2">
                                    <label>
                                        כותרת
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="text" ng-model="comment.content" style="width:100%"  ng-disabled="!user">
                                </div>
                                <div class="col-md-2">
                                    <label>
                                        תוכן
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="submit" ng-if="user" value="הוסף תגובה"  id="btnComment" class="btn site-btn">
                            <label class="label label-primary" id="CommentError">שים לב! רק משתמשים מחוברים יכולים להגיב</label>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <h3>תגובות:</h3>
                <div ng-repeat="comment in media.comments">
                    <div class="comment-design">
                    <aside>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="btn glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                            <div class="col-md-10 comment-time-user">{{comment.date}} - {{user.userName}} </div>
                        </div>
                    </aside>
                    <div class="row">
                        <div class="col-md-12">
                            <b>{{comment.title}}</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 comment-content-size">
                         {{comment.content}}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



