<div>
    <div class="form-horizontal register-form">
        <div class="form-group">
            <label>
                שם פרטי
            </label>
            <div class="col-md-9">
                <input type="text" ng-model="userDetails.firstName">
            </div>
        </div>

        <div class="form-group">
            <label>
                שם משפחה
            </label>
            <div class="col-md-9">
                <input type="text" ng-model="userDetails.lastName">
            </div>
        </div>

        <div class="form-group">
            <label>
                שם משתמש
            </label>
            <div class="col-md-9">
                <input type="text" ng-model="userDetails.userName">
            </div>
        </div>

        <div class="form-group">
            <label>
                סיסמא
            </label>
            <div class="col-md-9">
                <input type="password" ng-model="userDetails.password">
            </div>
        </div>

        <div class="form-group">
            <label>
                אימייל
            </label>
            <div class="col-md-9">
                <input type="text" ng-model="userDetails.email">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9">
                <input type="button" style="width: 78%" value="עדכן"class="btn site-btn" ng-click="updateUserDetails()"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9">
                <button style="width: 78%" type="button" class="btn btn-danger" ng-click="deleteUser()">
                        <b>
                       מחיקת חשבון לצמיתות
                        </b>
                </button>
            </div>
        </div>

        <div ng-if="error">
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        </div>
    </div>
</div>